/* Banner styling */
.banner {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 36px;
}

/* Description area styling */
.description {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  margin: 20px 0;
}

/* Tab styling */
.tab {
  overflow: hidden;
  background-color: #333;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: #fff;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #555;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #555;
}

.map-container {
  display: flex;
  flex-direction: row;
  max-width: 2160px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.control-container {
  flex: 1; /* This will flex in relation to .map-box */
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: flex-start;
  max-width: 500px; /* Adjust as needed */
  margin-right: 20px; /* Spacing between this container and the map */
}

.checkbox-box {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-bottom: 20px; /* spacing between checkbox and slider */
}

.slider-box {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.map-box {
  flex: 4; /* This will take up remaining space */
  max-width: 1560px; 
  height: 800px; 
  border: 1px solid #070707;
}

.slider-sub-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;  /* Space between each sub-container */
}

.slider-sub-container img {
  margin-right: 10px;  /* Space between image and slider */
}

#checkbox-box-shops, #checkbox-box-food, #slider-box-shops, #slider-box-food {
  column-count: 2;
  width: 100%;
}

/* Add margins, border styling, and other general enhancements */
.container, .map-container, .control-container, .checkbox-box, .slider-box, .map-box {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
